<h1>Edit artist</h1>

<%= form_with(model: @artist) do |form| %>

<% if @artist.errors.any? %>
   <div id="error_explanation">
     <h2>
       <%= pluralize(@artist.errors.count, "error") %> prohibited
       this artist from being saved:
     </h2>
     <ul>
       <% @artist.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
       <% end %>
     </ul>
   </div>
 <% end %>

 <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

 <p>
   <%= form.label :name %><br/>
   <%= form.text_field :name %>
 </p>

 <p>
   <%= form.label :spotify_artist_id %><br/>
   <%= form.text_field :spotify_artist_id %>
 </p>

 <p>
   <%= form.label :is_human_verified %><br/>
   <%= form.check_box :is_human_verified %>
 </p>

 <p>
   <%= form.submit %>
 </p>

 <% end %>
