<div>
  <div class="row">
    <div class="time">
    </div>
    <div class="carousel row">
      <div id="back" class="carousel-button"></div>
      <div id="forward" class="carousel-button"></div>
    </div>
  </div>
  <div class="row">
      <div class="artist">
        <p class="artist-name"></p>
        <div class=centeredRow>
            <div class="musicPlayer">
            </div>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="venue">
    </div>
  </div>
  <div class="row">
    <div class="attribution">
      <a href="" target="_blank">Tickets and more by Songkick</a>
    </div>
  </div>
</div>
