
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#header-container {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 2;
  pointer-events:none;
}
#geocoder {
  margin-top: 2em;
  margin-right: 1em;
  max-width: 50%;
}
#logo {
  margin: 0.5em;
}
.mapboxgl-ctrl-geocoder,
.mapboxgl-ctrl-geocoder input[type='text'] {
  font-size: 16px;
  min-width: 100%;
}
.marker {
  background-image: asset-data-url('music-icon.png');
  background-size: cover;
  width: 41.25px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.row {
  flex-direction: row;
}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    border-bottom-color: #454545;
    }
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    border-top-color: #454545;
    }
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: #454545;
    }
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: #454545;
    }
